[submodule "nostdb-spec"]
	path = nostdb-spec
	url = https://github.com/nostdb/nostdb-spec.git
[submodule "nostdb-core"]
	path = nostdb-core
	url = https://github.com/nostdb/nostdb-core.git
[submodule "nostdb-cli"]
	path = nostdb-cli
	url = https://github.com/nostdb/nostdb-cli.git
[submodule "nostdb-server"]
	path = nostdb-server
	url = https://github.com/nostdb/nostdb-server.git
[submodule "nostdb-provider-github"]
	path = nostdb-provider-github
	url = https://github.com/nostdb/nostdb-provider-github.git
[submodule "skills"]
	path = skills
	url = https://github.com/nostdb/skills.git
